@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<nav>
    <ul>
        <li>@Html.ActionLink("Indexz","Index")</li>
        <li>@Html.ActionLink("About us","AboutUs")</li>
        <li>@Html.ActionLink("Contact us","ContactUs")</li>
    </ul>
</nav>


<h2>about us</h2>