<ul>
	<li>great</li>
	<li>working</li>
	<li>with </li>
	<li>PartialViews</li>
</ul>

@*<form table>
	<label > Username : </label>
	<input type="text" class="form-control" placeholder="Username" />
	<label> Password : </label>
	<input type="password" class="form-control"  placeholder="Password" />
	<input type="submit" value="Login" />

</form>*@
<form>
    
    <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
    </div>

    
    <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          
    
    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
    </div>
    </div>
</form>